<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lightlance.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LightlanceSimpleAuth"
        android:usesCleartextTraffic="true">
        <activity android:name="com.lightlance.app.ForgotPasswordActivity"></activity>
        <activity android:name="com.lightlance.app.wedding.ConfirmPayActivity" />
        <activity android:name="com.lightlance.app.wedding.PaymentActivity" />
        <activity android:name="com.lightlance.app.BalanceActivity" />
        <activity android:name="com.lightlance.app.EditAccountActivity" />
        <activity android:name="com.lightlance.app.wedding.BookingWedding1Activity" />
        <activity android:name="com.lightlance.app.wedding.WeddingSatuActivity" />
        <activity android:name="com.lightlance.app.wedding.WeddingPaketActivity" />
        <activity android:name="com.lightlance.app.MainMenuActivity" />
        <activity android:name="com.lightlance.app.LoginActivity" />
        <activity android:name="com.lightlance.app.RegisterActivity" />
        <activity android:name="com.lightlance.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>